@import "../../style/colors";

.container {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .favorites {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .clear {
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }

    .cards-container {
        display: flex;
        width: 100%;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .day-card {
        border: 3px solid $main-color;
        flex: 1;

        .day-card-content {
            width: 200px;
            height: 225px;
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                margin-bottom: 5px;
            }
        }
    }
}
