@import "../../style/colors";
@import "../../style/breakpoint";

.container {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .favorites {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .clear {
        position: absolute;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }

    .cards-container {
        display: flex;
        width: 100%;
        padding: 2rem;
        align-items: center;
    }

    .day-card {
        border: 3px solid $main-color;
        flex: 1;
        margin-right: 40px;

        .day-card-content {
            width: 200px;
            height: 225px;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                margin-bottom: 5px;
            }
        }
    }
}

.mobile-options{
    position: absolute;
    top: 25px;
    left: 10px;
    display: none;
}

@media #{$breakpoint1},#{$breakpoint2},#{$breakpoint3} {
    .cards-container {
        overflow-y: scroll;
    }
}

@media #{$breakpoint1}{
    .mobile-options{
        display: block;
    }

    .clear, .favorites{
        display: none;
    }
}