@import '../style/breakpoint';


.favorites-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
}

@media #{$breakpoint2}{
    .favorites-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media #{$breakpoint1} {
    .favorites-container{
        grid-template-columns: 1fr;
    }
}

