@import '../../style/colors';

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    color: $main-color;
    border: 1px solid black;
    cursor: pointer;
    transition: filter 200ms ease-in;
    font-weight: 700;

    &:hover{
        filter: brightness(1.2);
    }
}