@use "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import-normalize;


*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}